<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico">
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>
       Student List</title>
</head>
<body>

<div style="margin-top: 1em; margin-bottom: 1em;" class="container">
    <div>
        <span style="font-size: 2em; color: #32a5e7;">List of Student </span>
    </div>

    <div style="font-size: 1em">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last name</th>
                <th scope="col">Date of Gratuation</th>
                <th scope="col">Description</th>
                <th scope="col">Address Street </th>
                <th scope="col">Address City </th>
                <th scope="col">Address State</th>
                <th scope="col">Address ZipCode</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="stu,iterStat : ${student}">
                <th scope="row" th:text="${iterStat.count}+${'.'}">1</th>
                <td th:text="${stu.firstName}"></td>
                <td th:text="${stu.lastName}"></td>
                <td th:text="${stu.dateOfEmp}"></td>
                <td th:text="${stu.descripion}"></td>
                <td th:text="${stu.address.street}"></td>
                <td th:text="${stu.address.city}"></td>
                <td th:text="${stu.address.state}"></td>
                <td th:text="${stu.address.zipCode}"></td>

                <td><a th:href="@{'/edit/' +  ${stu.id}}">Verify</a></td>
                <td>
                    <a  data-target="#confirmDeleteProductModal"
                        th:href="@{'/delete/' + ${stu.id}}">Delete</a>
                </td>

            </tr>
<!--            <tr th:if="${studentscount < 1}">-->
<!--                <td colspan="8" th:align="center">No product found</td>-->
<!--            </tr>-->

            </tbody>
        </table>

        <!--                    <ul class="nav nav-pills">-->
        <!--                        <li class="nav-item"-->
        <!--                            th:each="i:${#numbers.sequence(0,proucts.totalPages-1)}">-->
        <!--                            <a th:href="@{/eauction/product/list(pageNo=${i})}" th:text="${i}" class="nav-link"-->
        <!--                               th:classappend="${currentPageNo}==${i}?'active'"></a>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </div>-->
    </div>


</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>